<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_DEV_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>localhost:5000</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOGSTASH"/>
    </root>

    <!-- 패키지별 로그 레벨 조절 (선택사항) -->
    <logger name="org.hibernate.SQL" level="DEBUG" />
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE" />
    <logger name="org.springframework" level="DEBUG"/>

    <!-- 새로 추가할 로깅 설정 -->
    <logger name="com.back" level="DEBUG"/>
    <logger name="org.hibernate.orm.jdbc.bind" level="DEBUG"/>
    <logger name="org.hibernate.orm.jdbc.extract" level="DEBUG"/>
    <logger name="org.springframework.transaction.interceptor" level="DEBUG"/>
</configuration>

