<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Spring Boot 기본(공통) 로깅 설정 -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <!-- 공통 설정 -->
    <include resource="logback/logback-common.xml"/>

    <!-- 로컬 시 적용 -->
    <springProfile name="dev">
        <include resource="logback/logback-dev.xml"/>
    </springProfile>

    <!-- 배포 시 적용 -->
    <springProfile name="prod">
        <include resource="logback/logback-prod.xml"/>
    </springProfile>

</configuration>
