<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <springProfile name="dev">
        <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <destination>localhost:5000</destination>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <log_type>${log_type}</log_type>
                <method_name>${methodName}</method_name>
                <args>${args}</args>
            </encoder>
        </appender>
    </springProfile>

    <springProfile name="prod">
        <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <destination>dajava.db.chsan626.co.kr:5000</destination>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <log_type>${log_type}</log_type>
                <method_name>${methodName}</method_name>
                <args>${args}</args>
            </encoder>
        </appender>
    </springProfile>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOGSTASH"/>
    </root>

</configuration>
